.container {
    text-align: center;
}

#title {
	color: aqua;
	position: absolute;
  	top: 10%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	-webkit-text-stroke: 1px black;
}

#throw {
	font-size: 36px;
	color: white;
	-webkit-text-stroke: 1px black;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.5);
	margin: auto;
	width: 50%;
	border-style: solid;
	border-color: aqua;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#drives_button {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 47.5%;
}

#putts_button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 47.5%;
}

body {
	width: 100vw;
	height: 100vh;
}

.bg-image {
	background-image: url('https://c1.wallpaperflare.com/preview/216/811/682/disc-golf-frisbee-game-frisbee-forest.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: blur(7px);
  	-webkit-filter: blur(7px);
  	height: 95%;
}

@media (max-width:700px) {
	.jumbotron {
		background: rgba(0, 0, 0, 0.5);
		margin: auto;
		width: 75%;
		height: 60%;
		border-style: solid;
		border-color: aqua;
		position: absolute;
	  	top: 60%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}
	#randomize_button {
		position: absolute;
		bottom: 20px;
		right: 30%;
	}
}